#Pie_1{
    background-color: #222427;
    display: grid;
    grid-template-rows: repeat(1fr, 1fr);
    grid-template-columns: repeat(2fr, 1fr);
}
#Pie_1 ul{
    list-style: none;
}
#Pie_1 ul a{
    text-decoration: none;
    color: white;
    font-size: 80%;
    text-align: left;
}
#Pie_1 ul a:hover{
    color: rgb(220, 143, 0);
}
.menupie{
    display: grid;
    grid-row: 1;
    grid-column: 1;
    grid-template-rows: repeat(1fr, 1fr);
    grid-template-columns: repeat(3fr, 1fr);
}
.menupie h2{
    color: rgb(220, 143, 0);
    font-size: larger;
}
.menupie h4{
    color: white;
    font-size: larger;
}
.contactenos{
    display: grid;
    grid-row: 1;
    grid-column: 1;
    margin-left: 8%;
}
.redes{
    display: grid;
    grid-row: 1;
    grid-column: 2;
    margin-left: 40%;
}
.reportar{
    display: grid;
    grid-row: 1;
    grid-column: 3;
    margin-left: 46%;
    font-size: 120%;
}