
.ContenidoTituloAyuda{
    margin-left: 5%;
    margin-right: 5%;
    font-weight: 200;
    text-align: center;
    font-size: xx-large;
    justify-content: center;
    color: rgb(220, 143, 0);
}
#ConteAyuda{
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.ConteInformacion{
    margin: 2%;
    width: 45%;
    padding: 2%;
    text-align: center;
    border: 2px solid rgb(220, 143, 0);
}
.ConteInformacion h4{
    color: white;
    border-bottom: 2px solid rgb(220, 143, 0);
    
}
.ConteInformacion p a{
    color: white;
    text-decoration: none;
}
.ConteInformacion p a:hover{
    color: rgb(220, 143, 0);
    text-decoration: none;
}
